# Hacktiv8 Python for Data Science

Topic of discussion
- Python Introduction
- Python Data Type
- Variable Python

## Python Basic Data Types

### Integer

In [3]:
print(123123123123123123123123123123123123123123123123 + 1)

123123123123123123123123123123123123123123123124

In [4]:
# python interprets a sequence of decimal digits without any prefix to be a decimal number:
print(10)
print(type(10))

10
<class 'int'>

### Floating-Point Numbers
floating ditentukan dengan titik desimal

In [5]:
print(4.2)
print(type(4.2))

print(4.)
print(.2)
print(.4e7)
print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

### String
urutan data karakter, jenis string di dalam python biasa ditulis dengan str

In [6]:
print("ghmaliq14")
print(type("ghmaliq14"))

ghmaliq14
<class 'str'>

In [7]:
print("This string contains a single quote (') character.")
print('This string contains a double quote (") character.')

This string contains a single quote (') character.
This string contains a double quote (") character.

### Boolean Type, Boolean Context, and “Truthiness”

In [8]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

## Variable assignment

In [9]:
# Later, if you change the value of n and use it again, the new value will be substituted instead:
n = 1000
print(n)

1000

In [10]:
a = b = c = 300
print(a,b,c)

300 300 300

In [11]:
#variable types in python
var = 23.5
print(var)

var = "Now I'm a string"
print(var)

23.5
Now I'm a string

In [12]:
#variable types in python
name = "ghmaliq24"
age = 20
has_laptops = True
print(name, age, has_laptops)

ghmaliq24 20 True

In [13]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)
#hal tersebut menghasilkan eksekusi yang berbeda dikarenakan python adalah bahasa yang sensitif

1 2 3 4 5 6 7 8

## Operation and Expession

In [17]:
a = 10
b = 20
print(a + b)

30

In [18]:
a * b - 5

195

In [17]:
# the result of standard division (/) is always a float, even if the dividend is evenly divisible by the divisor;
10 / 5

2.0

### Aritmetic Operator

In [16]:
# here are some examples of these operators in use
a = 8
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

11
5
24
2.6666666666666665
2
512

### Comparison Operators

In [18]:
a = 10
b = 30

print(a == b)
print(a != b)
print(a <= b)
print(a >= b)

a = 24
b = 24

print(a == b)
print(a <= b)
print(a >= b)

False
True
True
False
True
True
True

## String Manipulation

In [20]:
# + operators
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)
print(s + t + u)
print('ghmaliq24' + ' python')

foobar
foobarbaz
ghmaliq24 python

In [19]:
# * Operator

s = 'foo.'
print(s * 4)

foo.foo.foo.foo.

In [22]:
# in operator

s = 'foo'
print(s in 'That food for us')
print(s in 'That good for us')

True
False

In [23]:
#Case Conversion
s = 'PyTHON24'

print(s.capitalize()) #capitalize
print(s.lower()) #lower
print(s.swapcase()) #swapcase
print(s.title()) #title
print(s.upper()) #uppercase

Python24
python24
pYthon24
Python24
PYTHON24

## Python Lists

In [26]:
a = ['foo' 'bar', 'baz', 'qux']
print(a)

['foobar', 'baz', 'qux']

### lists are ordered

In [27]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

### lists can contain arbitrary objects

In [28]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]
print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

### list elements can be accessed by index

In [29]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[0])
print(a[5])
print(a[-1])
print(a[-6])

foo
corge
corge
foo

### slicing a[m:n]

In [20]:
#list[start:stop:step]
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)
print(a[2:5])
print(a[0:4:2])

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['baz', 'qux', 'quux']
['foo', 'baz']

In [21]:
# Concatenation and Replication

print(a)
print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [33]:
#len(), min(), max()

print(a)
print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

### single list value

In [34]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)
a[2] = 10
a[-1] = 20
print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [35]:
del a[3]
print(a)

['foo', 'bar', 10, 'quux', 20]

### multiple list values

In [36]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

## Python Tuples

In [37]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)
print(t[0])
print(t[-1])

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
foo
corge

In [38]:
#acking and unpacking

(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')
s1

'foo'

## Python Dictionary

In [39]:
MLBB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

In [40]:
print(MLBB_team['Minnesota'])
print(MLBB_team['Colorado'])

Twins
Rockies

In [42]:
#Adding an entry to an existing dictionary is simply a matter of assigning a new key and value:

MLBB_team['Kansas City'] = 'Royals'
MLBB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [43]:
# If you want to update an entry, you can just assign a new value to an existing key:

MLBB_team['Seattle'] = 'Seahawks'
MLBB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [44]:
# To delete an entry, use the del statement, specifying the key to delete:

del MLBB_team['Seattle']
MLBB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

### Building a dictionary incrementally

In [46]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [47]:
print(person['fname'])
print(person['lname'])

print(person['children'])
print(person['children'][1])

print(person['pets'])
print(person['pets']['cat'])

Hack
PTP
['Ralph', 'Betty', 'Joey']
Betty
{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [49]:
# Built-in Methods
d = {'a': 10, 'b': 20, 'c': 30}

# items
print(d.items())

# keys
print(d.keys())

# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

### Line Continouation

In [50]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [51]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True